progressbutton clipbin {
  border-radius: 5px;
}

progressbutton progressbar trough,
progressbutton progressbar progress {
  border-radius: 0;
  border: none;
}

progressbutton progressbar trough {
  background: none;
}
